*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #373737;
}


.wrapper{
    margin: 0 auto;
    width: 1280px;
        
}

.menu-items, .main-title, .button-text {
    text-transform: uppercase;
}

.header{
    padding: 25.5px 330px; 
}

.menu-items{
    display:flex;
    gap: 72px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    list-style-type:none;
}

.menu-link{
    color:#FF0000;
}

.main{
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.0001);

    
}

.main-img{
    width: 1280px;
    margin-bottom: 49px;

}

.main-title {
    padding: 0 253px;
    margin-bottom: 38px;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px; 
    letter-spacing: 3.3px;
}

.text-block{
    padding: 0 67.5px;
    text-align: center;
}

.text{
    padding-bottom: 28px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
}

.button{
   margin: 66px 544.5px 42px;;
   
   width: 191px;
   height: 51px;
   background: #FF0000;
   border-radius: 4px;
   border: none ;
}

.button-text{
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    color: #FFFFFF;
}

.footer{
    margin-top: 40px;
    padding: 0 105px 29px 0;
    display: flex;
    justify-content: end;
}

.footer-text{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;

}